@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

body {
  font-family: "Montserrat", sans-serif;
}

@theme {
  --color-Primary: #ed3729;
}

.swiper-button-next,
.swiper-button-prev {
  width: 30px !important;
  height: 30px !important;
  background: #f7f7f7;
  border-radius: 50%;
  border: 1px solid #e0e0e0;
}
.swiper-button-next .swiper-navigation-icon {
  width: 7px;
  color: #808080;
}
.swiper-button-prev .swiper-navigation-icon {
  width: 7px;
  color: #808080;
}

.swiper-pagination-bullet-active {
  background-color: #ed3729 !important;
}

.swiper-button-prev{
    position: absolute;
    left: 0;
}
